# Database
    v0 -- Developing

In [50]:
# imports
from importlib import reload
import numpy as np

from astropy import units
from astropy.table import Table

from frb import frb

# FRBs

## Construct the Table

In [64]:
reload(frb)
frb_tbl, tbl_units = frb.build_table_of_frbs()
frb_tbl

,Name,DM,DM_err,fluence,fluence_err,RM,RM_err,lpol,lpol_err,z
0,FRB121102,558.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.192730
1,FRB180924,361.40,0.06,16.0,1.0,14.0,1.0,80.0,10.0,0.321200
2,FRB181112,589.27,0.03,NaN,NaN,10.9,0.9,NaN,NaN,0.475500
3,FRB190102,362.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,0.291168
4,FRB190523,760.80,0.60,280.0,NaN,NaN,NaN,NaN,NaN,0.660000
5,FRB190608,339.80,1.00,NaN,NaN,NaN,NaN,NaN,NaN,0.117780
6,FRB190611,323.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,0.378000
7,FRB190613,959.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,FRB190711,592.60,1.00,NaN,NaN,NaN,NaN,NaN,NaN,0.521720
9,FRB190714,504.13,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,FRB191001,507.40,1.00,NaN,NaN,NaN,NaN,NaN,NaN,0.234000
11,FRB191228,298.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
tbl_units

{'DM': 'pc / cm3',
 'DM_err': 'pc / cm3',
 'fluence': 'Jy ms',
 'fluence_err': 'Jy ms',
 'RM': 'rad / m2',
 'RM_err': 'rad / m2',
 'lpol': None,
 'lpol_err': None,
 'z': None}

In [61]:
## Fussing a bit

In [62]:
DMs = frb_tbl['DM'].values * units.Unit(tbl_units['DM'])
DMs

<Quantity [558.1 , 361.4 , 589.27, 362.  , 760.8 , 339.8 , 323.  , 959.  ,
           592.6 , 504.13, 507.4 , 298.  ] pc / cm3>

In [63]:
DM_errs = frb_tbl['DM_err'].values * units.Unit(tbl_units['DM_err'])
DM_errs

<Quantity [ nan, 0.06, 0.03, 1.  , 0.6 , 1.  , 1.  , 1.  , 1.  , 0.1 ,
           1.  ,  nan] pc / cm3>

In [ ]:
#

----

# Testing

In [21]:
tmp = {}
tmp['A'] = 1

In [22]:
if 'B' in tmp.keys() and tmp['B'] == 1:
    print('hurray')

In [23]:
tmp['B']

KeyError: 'B'

In [52]:
tmp = Table(masked=True)
#tmp.masked = True
tmp['A'] = np.ones(10)*units.m

In [56]:
msk = np.array([False]*10)
msk[5] = True
tmp['A'].mask = msk

In [57]:
tmp

<Table masked=True length=10>
   A
   m
float64
-------
    1.0
    1.0
    1.0
    1.0
    1.0
     --
    1.0
    1.0
    1.0
    1.0

In [58]:
tmp.to_pandas()

     A
0  1.0
1  1.0
2  1.0
3  1.0
4  1.0
5  NaN
6  1.0
7  1.0
8  1.0
9  1.0